{% extends "base.html" %}

{% block body %}
<div class="padd" style="margin-top: 1%;">
    <h1>Change Your Password</h1>
    <form action="changepassword" method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Old Password</label>
            <input type="password" name="oldpassword" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">New Password</label>
            <input type="password" name="newpassword" class="form-control" id="exampleInputPassword1">
        </div>
        <!-- <div class="mb-3">
            <label for="exampleInputPassword1" class="form-lable">Confirm Password</label>
            <input type="password" name="confirmpassword" class="form-control" id="exampleConfirmPassword1">
        </div> -->
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
</div>
{% endblock body %}
