{% extends "base.html" %}

{% load static %}

{% block body %}
<main class="padd">
  <!-- Content -->
    <img src="/static/admin/img/hary.avif" style="float: right; clip-path:polygon(10% 0px, 100% 0%, 100% 100%, 0px 100%)" height="300px"
      width="620px" alt="CodeWithHarry">
    <div style="flex-wrap: auto;">
      <div style="margin-top: 1%;">
          <h1>Welcome to <l style="color: rgb(128, 0, 128);">CodeWithHarry</l></h1>
          <h3>Learn <l style="color: rgb(128, 0, 128);">Machine Learning</l></h3>
          <br>
          <p class="flex text-muted mt-2">Confused on which course to take? I have got you covered. Browse courses and <br> find out the best course for
            you.Its free! Code With Harry is my attempt to teach <br> basics and those coding techniques to people in short
            time which took me ages to <br>learn.</p>

        <a href="courses" role="button" class="btn btn-dark">Free Courses</a>
        <a href="https://www.codewithharry.com/blog/" role="button" class="btn btn-secondary">Explore Blogs</a>
      </div>
    </div>


  <!-- Cards -->
      <div style="margin-top:7%">
        <h3 style="text-align: center;"><span class="bg-span">Recommended Courses</span></h3>
        <div style="margin-top: 2%;"></div>
        <div class="row row-cols-1 row-cols-md-3 g-4">
          <div class="col">
            <div class="card h-100">
              <img src="/static/admin/img/7wnove7K-ZQ-HD.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Python</h5>
                <p class="card-text text-muted">Python is one of the most demanded programming languages in the job market. Surprisingly, it is equally easy to learn and master Python. Let's commit our 100 days of code to python</p>
              </div>
              <div style="margin: 2%;">
                <button type="button" class="btn btn-warning">Start Watching</button>
              </div>
              <div class="card-footer">
                <small class="text-body-secondary">Last updated 3 mins ago</small>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <img src="/static/admin/img/090fefe24d23d47584f6ddc7eb5a241e.png" class="card-img-top">
              <div class="card-body">
                <h5 class="card-title">React JS</h5>
                <p class="card-text text-muted">This latest JavaScript course comes with premium curriculum that covers everything from basics to advance. On top of that, you will get my handwritten notes of JS for completely free. What are you waiting for? Just Enroll Buddy</p>
              </div>
              <div style="margin: 2%;">
                <button type="button" class="btn btn-warning">Start Watching</button>
              </div>
              <div class="card-footer">
                <small class="text-body-secondary">Last updated 3 mins ago</small>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <img src="/static/admin/img/JS-Thumb.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">JavaScript</h5>
                <p class="card-text text-muted">React is a free and open-source front-end JavaScript library. This series will cover React from starting to the end. We will learn react from the ground up!</p>
              </div>
              <div style="margin: 2%;">
                <button type="button" class="btn btn-warning">Start Watching</button>
              </div>
              <div class="card-footer">
                <small class="text-body-secondary">Last updated 3 mins ago</small>
              </div>
            </div>
          </div>
        </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- Testmonials -->
  <div style="margin-top: 4%;"></div>
  <div style="margin: 3%;">
  <h3 style="text-align: center;"><span class="bg-span">Testmonials</span></h3>
    <div style="margin-top: 2%;"></div>
    <div class="row">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body" style="background-color: rgb(240, 240, 240);">
            <h5 class="card-title"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-quote" viewBox="0 0 16 16">
              <path d="M12 12a1 1 0 0 0 1-1V8.558a1 1 0 0 0-1-1h-1.388q0-.527.062-1.054.093-.558.31-.992t.559-.683q.34-.279.868-.279V3q-.868 0-1.52.372a3.3 3.3 0 0 0-1.085.992 4.9 4.9 0 0 0-.62 1.458A7.7 7.7 0 0 0 9 7.558V11a1 1 0 0 0 1 1zm-6 0a1 1 0 0 0 1-1V8.558a1 1 0 0 0-1-1H4.612q0-.527.062-1.054.094-.558.31-.992.217-.434.559-.683.34-.279.868-.279V3q-.868 0-1.52.372a3.3 3.3 0 0 0-1.085.992 4.9 4.9 0 0 0-.62 1.458A7.7 7.7 0 0 0 3 7.558V11a1 1 0 0 0 1 1z"/>
            </svg></h5>
            <p class="card-text text-muted">I don't have words to thank this man, I'm really grateful to have this channel and website in my daily routine. If you're a mere beginner, then you can trust this guy and can put your time into his content. I can assure you that it'll be worth it.</p><br><br>

            <b>Mohit Kumar</b><br>
              <p class="card-text text-muted">Web Developer</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body" style="background-color: rgb(240, 240, 240);">
            <h5 class="card-title"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-quote" viewBox="0 0 16 16">
              <path d="M12 12a1 1 0 0 0 1-1V8.558a1 1 0 0 0-1-1h-1.388q0-.527.062-1.054.093-.558.31-.992t.559-.683q.34-.279.868-.279V3q-.868 0-1.52.372a3.3 3.3 0 0 0-1.085.992 4.9 4.9 0 0 0-.62 1.458A7.7 7.7 0 0 0 9 7.558V11a1 1 0 0 0 1 1zm-6 0a1 1 0 0 0 1-1V8.558a1 1 0 0 0-1-1H4.612q0-.527.062-1.054.094-.558.31-.992.217-.434.559-.683.34-.279.868-.279V3q-.868 0-1.52.372a3.3 3.3 0 0 0-1.085.992 4.9 4.9 0 0 0-.62 1.458A7.7 7.7 0 0 0 3 7.558V11a1 1 0 0 0 1 1z"/>
            </svg></h5>
            <p class="card-text text-muted">For everyone who wants to level up their #Coding and #Dev skills - seriously, this channel is for you! Both basic and advanced stacks are covered on this channel, and one can learn according to his skill levels. And the icing on the cake is, everything is available for free.</p><br><br>

            <b>Rakesh Shetty</b><br>
            <p class="card-text text-muted">Web Developer</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

{% endblock body %}
